*{
    scrollbar-width: none;
}

::selection{
    color: palegreen;
    background: black;
}

.st-emotion-cache-mnu3yk.ef3psqc6{
    visibility: hidden;
}
.st-emotion-cache-h4xjwg.ezrtsby2{
    background: #0f1116;    
}

.appview-container.st-emotion-cache-1yiq2ps.ea3mdgi9{
    background: #0f1116;
}

.st-emotion-cache-luriig.ezrtsby2{
    background: #0f1116;
}
.st-emotion-cache-6qjnct.ef3psqc6{
    visibility: hidden;
}

.st-emotion-cache-4z1n4l.en6cib65{
    visibility: hidden;
}

[d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"]{
    background: #0f1116;
}
[class="st-emotion-cache-1okxj2y ef3psqc5"]{
    background: #0f1116;

}